$black: #151515;
$white: #FBF9FF;

$dark_bg: #121212;
$light_bg: #ffffff;

$font: 'Montserrat', sans-serif;

// shadow
$shadow__btn-primary: 0px 4px 4px rgba(0, 0, 0, 0.57), inset 0px 1px 4px rgba(0, 0, 0, 0.4);
$shadow__box: 0px 1px 15px rgba(0, 0, 0, 0.1);


